<!DOCTYPE html>
<html>
    <head>
        <title>Star Wars Facts</title>
    </head>
    <body>
        <h1 id="mainHeader">this is the Header</h1>


        <div style="background: linear-gradient(to top right, black, #262626)" id="app">
            <div id="home" class="container tab-pane active">
                <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: darkred">
                    <form class="form-inline" v-on:submit.prevent="searchChar">
                        <input v-model="charSearch" class="form-control mr-sm-2" type="text" placeholder="Enter a Character">
                        <button style="background: none; border: 0;" type="submit"><img class="button" src="images/falcon.png"></button>
                    </form>
                </nav>
                <div class="info">
                    <h2>{{currentCharacter.name}}</h2>
                    <p>Homeworld: {{currentHomeworld.name}}</p>
                    <p>Species: {{currentSpecies.name}}</p>
                    <h3>Films</h3>
                </div>
                <ul v-for="item in currentMovie">
                    <p>{{item.name}}</p>
                    <div class="starwars-body">                      
                        <section class="star-wars">
                            <div class="crawl">
                                
                                <div class="title">
                                <h1>{{item.name}}</h1>
                                </div>
                                <p>{{item.opening_crawl}}</p>
                            </div>    
                        </section>
                    </div>
                </ul>
                </div>
            </div>
        </div>

        <footer>

        </footer>

        <link href="styles.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./script.js"></script>
    </body>
</html>