<!DOCTYPE html>
<html>
    <head>
        <title>Star Wars Facts</title>
    </head>
    <body>
        <h1 id="mainHeader">Use Vue, I Will</h1>


        <div style="background: linear-gradient(to top right, black, #262626)" id="app">
            <div id="home" class="container tab-pane active">
                <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: darkred">
                    <form class="form-inline" v-on:submit.prevent="searchChar">
                        <input v-model="charSearch" class="form-control mr-sm-2" type="text" placeholder="Enter a Character">
                        <button style="background: none; border: 0;" type="submit"><img class="button" src="images/falcon.png"></button>
                        
                    </form>
                </nav>
                <div v-if="loading">
                    <p style="color: darkred; font-size: 50px; text-align: center; font-family: starwars;">loading...</p>     
                </div>
                <div v-else>
                    <div class="info">
                        <h2 style="font-size: -webkit-xxx-large;">{{currentCharacter.name}}</h2>
                        <p>Homeworld: {{currentHomeworld.name}}</p>
                        <p>Population: {{currentHomeworld.population}}</p>
                        <p>Climate: {{currentHomeworld.climate}}</p>
                        <p>Terrain: {{currentHomeworld.terrain}}</p>
                        <p>Species: {{currentSpecies.name}}</p>
                        <p>Classification: {{currentSpecies.classification}}</p>
                        <p>Language: {{currentSpecies.language}}</p>

                        <h3 style="font-size: -webkit-xxx-large;">Films:</h3>
                    </div>
                    <div class="flex-container" v-for="item in currentMovie">
                        <div class="flex-item">
                            <h3 class="film-name">{{item.name}}</h3>
                            <div class="starwars-body">                      
                                <section class="star-wars">
                                    <div class="crawl">                                   
                                        <div class="title">
                                        <h1>{{item.name}}</h1>
                                        </div>
                                        <p>{{item.opening_crawl}}</p>
                                    </div>    
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <footer>
            <a href="https://github.com/bungiemuffins/creative_project_3">
                <h3 style="color: darkred; font-family: starwars; text-align: center;">GitHub</h3>
            </a>

        </footer>

        <link href="styles.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./script.js"></script>
    </body>
</html>