.container.tab-pane {
    margin: 0;
    max-width: none;
    padding: 0;
}

.flex-container {
    justify-content: space-around;
    display: flex;
}


.flex-item {
    width: 80%;
    margin: 1%;
    margin-top: 12%;
}

.starwars-body {
    width: 100%;
    height: 100%;
    background-image: url(/images/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

@font-face {
    font-family: starwars;
    src: url(death-star.otf)
}

  #mainHeader {
      background: url(images/vader.jpg) top right, linear-gradient(to right, black, #262626);
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin-bottom: 0;
      height: 150px;
      font-family: starwars;
      padding: 18px;
      color: darkred;
      font-size: 600%;
  }

  .button {
      height: 40px
  }

  div.info {
    font-family: starwars;
    text-align: center;
    color: darkred;
  }

  div.info h2 h3 {
    font-size: -webkit-xxx-large;
  }

  .film-name {
      padding: 5%;
      color: darkred;
      font-family: starwars;
      text-align: center;
  }

  .tie1 {
    height: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
  }

  .tie2 {
    height: 30px;
    margin-left: 100px;
    margin-top: 50px;
  }

  .tie3 {
    height: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
  }

  .destroy {
      height: 80px;
      margin-left: 200px;
  }